<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_select1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{106,114}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,22},{106,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_select10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,452},{156,136}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{156,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_select11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,312},{162,138}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,42},{162,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_select12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{168,144}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{168,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_select13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,162},{172,148}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{172,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_select14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{178,154}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{178,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_select15.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{182,158}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{182,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,312},{122,144}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,20},{122,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_select3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,590},{126,150}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,16},{126,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_select4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{132,154}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,13},{132,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_select5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{134,158}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,11},{134,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_select6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,714},{140,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{140,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_select7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,590},{144,122}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,51},{144,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_select8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{148,126}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{148,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_select9.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,458},{152,130}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,46},{152,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,34},{26,18}}</string>
                <key>offset</key>
                <string>{0,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,170},{26,18}}</string>
                <key>sourceSize</key>
                <string>{66,210}</string>
            </dict>
            <key>item_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,146},{48,34}}</string>
                <key>offset</key>
                <string>{0,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,159},{48,34}}</string>
                <key>sourceSize</key>
                <string>{66,210}</string>
            </dict>
            <key>item_start3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,146},{66,58}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,142},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,210}</string>
            </dict>
            <key>item_start4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,110},{34,110}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,89},{34,110}}</string>
                <key>sourceSize</key>
                <string>{66,210}</string>
            </dict>
            <key>item_start5.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,182},{30,178}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{30,178}}</string>
                <key>sourceSize</key>
                <string>{66,210}</string>
            </dict>
            <key>item_start6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,206}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{30,206}}</string>
                <key>sourceSize</key>
                <string>{66,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item_animat.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03e55c3199bba51b2fa5789856b61d9f$</string>
            <key>textureFileName</key>
            <string>item_animat.pvr.ccz</string>
        </dict>
    </dict>
</plist>
