<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>update_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{156,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,59}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>update_b1_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{148,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,56}}</string>
                <key>sourceSize</key>
                <string>{148,56}</string>
            </dict>
            <key>update_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,174},{156,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,59}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>update_b2_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,332},{148,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,56}}</string>
                <key>sourceSize</key>
                <string>{148,56}</string>
            </dict>
            <key>update_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>update_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,170}}</string>
                <key>sourceSize</key>
                <string>{233,170}</string>
            </dict>
            <key>update_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,273},{560,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,27}}</string>
                <key>sourceSize</key>
                <string>{560,27}</string>
            </dict>
            <key>update_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,174},{97,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,31}}</string>
                <key>sourceSize</key>
                <string>{97,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>update_ui.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:384a7aad7391c64988cbc792ff50ac36$</string>
            <key>textureFileName</key>
            <string>update_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
