<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>consolidate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{360,528}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{360,528}}</string>
                <key>sourceSize</key>
                <string>{384,540}</string>
            </dict>
            <key>consolidate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{384,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,540}}</string>
                <key>sourceSize</key>
                <string>{384,540}</string>
            </dict>
            <key>consolidate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,540}}</string>
                <key>sourceSize</key>
                <string>{384,540}</string>
            </dict>
            <key>consolidate_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1574},{324,298}}</string>
                <key>offset</key>
                <string>{10,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,148},{324,298}}</string>
                <key>sourceSize</key>
                <string>{384,540}</string>
            </dict>
            <key>upgrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1574},{308,298}}</string>
                <key>offset</key>
                <string>{14,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,86},{308,298}}</string>
                <key>sourceSize</key>
                <string>{384,540}</string>
            </dict>
            <key>upgrade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,388},{358,400}}</string>
                <key>offset</key>
                <string>{-10,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{358,400}}</string>
                <key>sourceSize</key>
                <string>{384,540}</string>
            </dict>
            <key>upgrade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{384,454}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{384,454}}</string>
                <key>sourceSize</key>
                <string>{384,540}</string>
            </dict>
            <key>upgrade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{384,538}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,538}}</string>
                <key>sourceSize</key>
                <string>{384,540}</string>
            </dict>
            <key>upgrade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1042},{384,530}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{384,530}}</string>
                <key>sourceSize</key>
                <string>{384,540}</string>
            </dict>
            <key>upgrade_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{384,498}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{384,498}}</string>
                <key>sourceSize</key>
                <string>{384,540}</string>
            </dict>
            <key>upgrade_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,748},{292,396}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,90},{292,396}}</string>
                <key>sourceSize</key>
                <string>{384,540}</string>
            </dict>
            <key>upgrade_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1874},{168,242}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,128},{168,242}}</string>
                <key>sourceSize</key>
                <string>{384,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>indexScene_ani.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d00020ea82b8302ba9096b73970a8305:120dafcf3de1ec1a635c3a284584a7e8:08e1c5746d30a8734a0bee72ccfd51cc$</string>
            <key>textureFileName</key>
            <string>indexScene_ani.pvr.ccz</string>
        </dict>
    </dict>
</plist>
