<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoqi5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{245,215}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{245,215}}</string>
                <key>sourceSize</key>
                <string>{259,235}</string>
            </dict>
            <key>baoqi5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{249,227}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{249,227}}</string>
                <key>sourceSize</key>
                <string>{259,235}</string>
            </dict>
            <key>baoqi5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{247,213}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{247,213}}</string>
                <key>sourceSize</key>
                <string>{259,235}</string>
            </dict>
            <key>baoqi5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,221}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{251,221}}</string>
                <key>sourceSize</key>
                <string>{259,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoqi5.pvr.ccz</string>
            <key>size</key>
            <string>{255,886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9b739c85e017d1738cbe0f3f8e48fa2:90dd03a5104ac85cb038b0ffeb65f2a4:c7b6ac7328679ab80cfbb770960512aa$</string>
            <key>textureFileName</key>
            <string>baoqi5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
