<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoqi6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{189,189}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{189,189}}</string>
                <key>sourceSize</key>
                <string>{193,191}</string>
            </dict>
            <key>baoqi6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{193,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,191}}</string>
                <key>sourceSize</key>
                <string>{193,191}</string>
            </dict>
            <key>baoqi6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{185,187}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{185,187}}</string>
                <key>sourceSize</key>
                <string>{193,191}</string>
            </dict>
            <key>baoqi6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,191}}</string>
                <key>sourceSize</key>
                <string>{193,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoqi6.pvr.ccz</string>
            <key>size</key>
            <string>{770,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0414f25ed52110f1f07541a58791876:60990d5c853e36cec2e0b3fdb8423fea:ee6794aefe6783600d866cbee640dd30$</string>
            <key>textureFileName</key>
            <string>baoqi6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
