<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoqi3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{202,208}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{202,208}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>baoqi3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{206,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,208}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>baoqi3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{196,206}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{196,206}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>baoqi3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,208}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoqi3.pvr.ccz</string>
            <key>size</key>
            <string>{820,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab4c694fd81298219ad67586f515a5c6:011e69df792bae29c33e58919392b6e3:d29443016825ad7c8f706727bac8d971$</string>
            <key>textureFileName</key>
            <string>baoqi3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
