<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoqi7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{185,227}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,227}}</string>
                <key>sourceSize</key>
                <string>{185,233}</string>
            </dict>
            <key>baoqi7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,231}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,231}}</string>
                <key>sourceSize</key>
                <string>{185,233}</string>
            </dict>
            <key>baoqi7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{185,227}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,227}}</string>
                <key>sourceSize</key>
                <string>{185,233}</string>
            </dict>
            <key>baoqi7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{185,223}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,223}}</string>
                <key>sourceSize</key>
                <string>{185,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoqi7.pvr.ccz</string>
            <key>size</key>
            <string>{189,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6730883e3e9f27dc82212d04e5b6cd5c:1ab0da36d0f0a4bdbfec9e57e55bc9c8:b0183fa72f58d36f30a7f9622e7c3cc3$</string>
            <key>textureFileName</key>
            <string>baoqi7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
