<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoqi2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{203,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,209}}</string>
                <key>sourceSize</key>
                <string>{203,209}</string>
            </dict>
            <key>baoqi2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{203,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,209}}</string>
                <key>sourceSize</key>
                <string>{203,209}</string>
            </dict>
            <key>baoqi2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{197,209}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,209}}</string>
                <key>sourceSize</key>
                <string>{203,209}</string>
            </dict>
            <key>baoqi2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,209}}</string>
                <key>sourceSize</key>
                <string>{203,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoqi2.pvr.ccz</string>
            <key>size</key>
            <string>{816,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:141962331fb4350aed60dbe26290bad0:711c52a2149a25c6c34ce3f174d0c4b5:4baa43e197969d03bdc97974d20bd211$</string>
            <key>textureFileName</key>
            <string>baoqi2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
