<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,484},{160,127}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{160,127}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>bb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,295},{160,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,285}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>bb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,4},{160,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,285}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>bb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,295},{160,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,285}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>bb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,253},{160,229}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{160,229}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>bb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,488},{154,137}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,64},{154,137}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>bb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,263},{160,215}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{160,215}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>bb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,4},{160,243}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,243}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>bb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,4},{160,253}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,253}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>bb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,287},{160,269}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,269}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>bb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,4},{160,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,285}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>bb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,4},{160,277}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,277}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>bb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,295},{160,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,285}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>bb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{160,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,285}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bb.pvr.ccz</string>
            <key>size</key>
            <string>{998,653}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfac38c3aea734ccf3dc4db9dd9daa27:8df5ba22416e29888d4aac1277706f66:18e541c07627368f11a89e7aab441583$</string>
            <key>textureFileName</key>
            <string>bb.pvr.ccz</string>
        </dict>
    </dict>
</plist>
