<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bjtzd3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,174},{98,82}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{98,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>bjtzd3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,96},{76,88}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{76,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>bjtzd3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{90,92}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{90,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>bjtzd6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{300,332}}</string>
                <key>offset</key>
                <string>{-10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{300,332}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>bjtzd6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,352}}</string>
                <key>offset</key>
                <string>{-8,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,98},{302,352}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>bjtzd6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{312,308}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,98},{312,308}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beijita3.pvr.ccz</string>
            <key>size</key>
            <string>{1010,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1e36380b3a5a28e867e6c297bb02ccc:5d13c3c09ada91abce9f17e499bbe4a7:351decba5092e83da8ceb3d8a23f2992$</string>
            <key>textureFileName</key>
            <string>beijita3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
