<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fg1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,4},{320,470}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{320,470}}</string>
                <key>sourceSize</key>
                <string>{320,570}</string>
            </dict>
            <key>fg2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,482},{223,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{223,86}}</string>
                <key>sourceSize</key>
                <string>{227,90}</string>
            </dict>
            <key>fg2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,4},{141,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{141,72}}</string>
                <key>sourceSize</key>
                <string>{147,78}</string>
            </dict>
            <key>fg2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,536},{137,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{137,51}}</string>
                <key>sourceSize</key>
                <string>{137,53}</string>
            </dict>
            <key>fg3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,4},{320,472}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{320,472}}</string>
                <key>sourceSize</key>
                <string>{320,570}</string>
            </dict>
            <key>fg4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,482},{223,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{223,86}}</string>
                <key>sourceSize</key>
                <string>{227,90}</string>
            </dict>
            <key>fg4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,4},{141,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{141,72}}</string>
                <key>sourceSize</key>
                <string>{147,78}</string>
            </dict>
            <key>fg4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,536},{137,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{137,51}}</string>
                <key>sourceSize</key>
                <string>{137,53}</string>
            </dict>
            <key>fg5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,482},{223,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{223,86}}</string>
                <key>sourceSize</key>
                <string>{227,90}</string>
            </dict>
            <key>fg5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,4},{141,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{141,72}}</string>
                <key>sourceSize</key>
                <string>{147,78}</string>
            </dict>
            <key>fg5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,536},{137,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{137,51}}</string>
                <key>sourceSize</key>
                <string>{137,53}</string>
            </dict>
            <key>fg6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,480},{85,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,198}}</string>
                <key>sourceSize</key>
                <string>{85,198}</string>
            </dict>
            <key>fg6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,482},{141,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{141,93}}</string>
                <key>sourceSize</key>
                <string>{141,105}</string>
            </dict>
            <key>mg1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,4},{320,526}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{320,526}}</string>
                <key>sourceSize</key>
                <string>{320,570}</string>
            </dict>
            <key>mg3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,4},{320,526}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{320,526}}</string>
                <key>sourceSize</key>
                <string>{320,570}</string>
            </dict>
            <key>mg4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,4},{320,570}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,570}}</string>
                <key>sourceSize</key>
                <string>{320,570}</string>
            </dict>
            <key>mg5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{320,570}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,570}}</string>
                <key>sourceSize</key>
                <string>{320,570}</string>
            </dict>
            <key>mg6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,480},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>mg6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,536},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg.pvr.ccz</string>
            <key>size</key>
            <string>{2036,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50244f3b9baae4cca4d892210ae74d89:fac2dca06f3d3b6132477016a236590f:b9ac7fcafea4754d416d8216ba5d2469$</string>
            <key>textureFileName</key>
            <string>bg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
