<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bkdmw_jgt1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,939},{14,17}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{14,17}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>bkdmw_jgt1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,942},{8,15}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{8,15}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>bkdmw_jgt1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,919},{14,19}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{14,19}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>bkdmw_jgt1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,939},{14,17}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{14,17}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>bkdmw_jgt1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,919},{14,19}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{14,19}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>bkdmw_jgt1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,919},{14,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{14,17}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>bkdmw_jgt1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,919},{14,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{14,17}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>bkdmw_jgt1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,919},{14,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{14,17}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>bkdmw_jgt1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,942},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{14,15}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>bkdmw_jgt1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,939},{14,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{14,15}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>bkdmw_xuli1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,790},{101,123}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{101,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>bkdmw_xuli1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,397},{103,125}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>bkdmw_xuli1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,659},{101,125}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{101,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>bkdmw_xuli1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,528},{101,125}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{101,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>bkdmw_xuli1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,135},{107,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>bkdmw_xuli1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{107,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>bkdmw_xuli1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,266},{103,125}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bikedamowang2.pvr.ccz</string>
            <key>size</key>
            <string>{115,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de4a2a022835978359152cff999a5a80:ffd0a2f84cb9fbc44f94e5aa51f01498:b5dd927c1ec5215ae7e97446f357a4e5$</string>
            <key>textureFileName</key>
            <string>bikedamowang2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
