<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bkdmw_jg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,4},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>bkdmw_jg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bikedamowang1.pvr.ccz</string>
            <key>size</key>
            <string>{174,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d3f325adfc0c4b3570feb8a48c5d644:011d7f3b452c34851ba13671b4e43181:ca9121e3059413422b2f94b5fe9918f6$</string>
            <key>textureFileName</key>
            <string>bikedamowang1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
