<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,206},{24,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,50}}</string>
                <key>sourceSize</key>
                <string>{24,50}</string>
            </dict>
            <key>b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,376},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,480},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,428},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>b14.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,528},{50,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>b15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,424},{51,88}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,88}}</string>
                <key>sourceSize</key>
                <string>{51,100}</string>
            </dict>
            <key>b15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,371},{51,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,96}}</string>
                <key>sourceSize</key>
                <string>{51,100}</string>
            </dict>
            <key>b15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,261},{51,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,100}}</string>
                <key>sourceSize</key>
                <string>{51,100}</string>
            </dict>
            <key>b16.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,314},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>b17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,206},{114,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,53}}</string>
                <key>sourceSize</key>
                <string>{114,55}</string>
            </dict>
            <key>b17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{114,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,53}}</string>
                <key>sourceSize</key>
                <string>{114,55}</string>
            </dict>
            <key>b18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,314},{35,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>b18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,532},{35,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>b19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>b19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>b19_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>b1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>b1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>b2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>b2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,476},{50,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,261},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,424},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,526},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,308},{20,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,100}}</string>
                <key>sourceSize</key>
                <string>{20,100}</string>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,366},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,200}}</string>
                <key>sourceSize</key>
                <string>{26,200}</string>
            </dict>
            <key>b9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,314},{55,96}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,96}}</string>
                <key>sourceSize</key>
                <string>{57,100}</string>
            </dict>
            <key>b9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{57,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,100}}</string>
                <key>sourceSize</key>
                <string>{57,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet.pvr.ccz</string>
            <key>size</key>
            <string>{249,578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:550ceef74d4b55d402cd5d6af806792e:37cf488bb185a05a843a327c7c07e37a:b060cbd7866f2908326c3d5019b8e9d7$</string>
            <key>textureFileName</key>
            <string>bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
