<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_burn (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{496,87},{14,13}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,39},{14,13}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{378,87},{116,97}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{116,97}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{254,91},{114,95}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{114,95}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{128,93},{114,81}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{114,81}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{110,81}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{110,81}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,176},{112,81}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{112,81}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{370,186},{110,79}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{110,79}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{232,188},{110,59}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{110,59}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{38,31}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,33},{38,31}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{114,259},{94,49}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{94,49}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{232,249},{108,69}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{108,69}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{114,79}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{114,79}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{120,83}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{120,83}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{122,87}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{122,87}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,89}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{124,89}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>enemy_burn (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,93}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{124,93}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy_burn.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d13e5b8f634ff76a1b6b3fbe34ab5fd7$</string>
            <key>textureFileName</key>
            <string>enemy_burn.pvr.ccz</string>
        </dict>
    </dict>
</plist>
