<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,4},{68,67}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,37},{68,67}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,4},{88,77}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,25},{88,77}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{136,97}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{136,97}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>hit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,4},{94,77}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,23},{94,77}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>hit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,4},{74,79}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{74,79}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit.pvr.ccz</string>
            <key>size</key>
            <string>{463,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7b6f21bc96370b0f712dd94d1f49d14:ffbe3580bfbaa70f781bbccd9ffa2f9d:0ac90d70e4eb6d5d1f5894ef4fdd729f$</string>
            <key>textureFileName</key>
            <string>hit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
