<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,4},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>pot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pot.pvr.ccz</string>
            <key>size</key>
            <string>{62,33}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a760485fb15c0d2a5d873c8990b3a28:293e053415a61baed8c54e94879db0c4:7a8f4835088c5e9abb8dc1e6da15d6ff$</string>
            <key>textureFileName</key>
            <string>pot.pvr.ccz</string>
        </dict>
    </dict>
</plist>
