<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swkjg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,738},{136,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,280}}</string>
                <key>sourceSize</key>
                <string>{136,280}</string>
            </dict>
            <key>swkjgt2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,4},{472,337}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,116},{472,337}}</string>
                <key>sourceSize</key>
                <string>{472,453}</string>
            </dict>
            <key>swkjgt2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{472,369}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{472,369}}</string>
                <key>sourceSize</key>
                <string>{472,453}</string>
            </dict>
            <key>swkjgw2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,482},{353,451}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{353,451}}</string>
                <key>sourceSize</key>
                <string>{353,467}</string>
            </dict>
            <key>swkjgw2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,379},{353,451}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{353,451}}</string>
                <key>sourceSize</key>
                <string>{353,467}</string>
            </dict>
            <key>swkzd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,880},{48,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,137}}</string>
                <key>sourceSize</key>
                <string>{48,137}</string>
            </dict>
            <key>swkzd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,738},{57,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,150}}</string>
                <key>sourceSize</key>
                <string>{57,150}</string>
            </dict>
            <key>swkzd6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,738},{76,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,182}}</string>
                <key>sourceSize</key>
                <string>{76,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunwukong2.pvr.ccz</string>
            <key>size</key>
            <string>{823,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af37d04e289a9d5580486f1a530213bd:34a51c0013113af2dc5fef60c26763b5:0ef518791cd438f355ebed21dd63eb75$</string>
            <key>textureFileName</key>
            <string>sunwukong2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
