<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swkjg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,738},{136,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,280}}</string>
                <key>sourceSize</key>
                <string>{136,280}</string>
            </dict>
            <key>swkjgt3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,4},{472,337}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,116},{472,337}}</string>
                <key>sourceSize</key>
                <string>{472,453}</string>
            </dict>
            <key>swkjgt3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{472,369}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{472,369}}</string>
                <key>sourceSize</key>
                <string>{472,453}</string>
            </dict>
            <key>swkjgw3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,482},{353,451}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{353,451}}</string>
                <key>sourceSize</key>
                <string>{353,467}</string>
            </dict>
            <key>swkjgw3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,379},{353,451}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{353,451}}</string>
                <key>sourceSize</key>
                <string>{353,467}</string>
            </dict>
            <key>swkzd7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,880},{48,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,137}}</string>
                <key>sourceSize</key>
                <string>{48,137}</string>
            </dict>
            <key>swkzd8.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,738},{57,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,150}}</string>
                <key>sourceSize</key>
                <string>{57,150}</string>
            </dict>
            <key>swkzd9.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,738},{76,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,182}}</string>
                <key>sourceSize</key>
                <string>{76,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunwukong3.pvr.ccz</string>
            <key>size</key>
            <string>{823,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9da94c38de684bc3d2d616a89628984:0c48ddaf0ddf80a13c391638667fb410:b0d65551b6a7fe95b6b43c9e21522366$</string>
            <key>textureFileName</key>
            <string>sunwukong3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
