<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swkjg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,738},{136,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,280}}</string>
                <key>sourceSize</key>
                <string>{136,280}</string>
            </dict>
            <key>swkjgt1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,4},{472,337}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,116},{472,337}}</string>
                <key>sourceSize</key>
                <string>{472,453}</string>
            </dict>
            <key>swkjgt1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{472,369}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{472,369}}</string>
                <key>sourceSize</key>
                <string>{472,453}</string>
            </dict>
            <key>swkjgw1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,482},{353,451}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{353,451}}</string>
                <key>sourceSize</key>
                <string>{353,467}</string>
            </dict>
            <key>swkjgw1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,379},{353,451}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{353,451}}</string>
                <key>sourceSize</key>
                <string>{353,467}</string>
            </dict>
            <key>swkzd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,880},{48,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,137}}</string>
                <key>sourceSize</key>
                <string>{48,137}</string>
            </dict>
            <key>swkzd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,738},{57,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,150}}</string>
                <key>sourceSize</key>
                <string>{57,150}</string>
            </dict>
            <key>swkzd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,738},{76,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,182}}</string>
                <key>sourceSize</key>
                <string>{76,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunwukong1.pvr.ccz</string>
            <key>size</key>
            <string>{823,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8571ef9c7a343a15a5e49b30aafa8a2f:aab8951f30d9f45195eab5efb65034b0:fc0d9796a33a7d33b88de7af160191c0$</string>
            <key>textureFileName</key>
            <string>sunwukong1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
