<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wjt_jg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,362},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wjt_jgt1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,478},{596,398}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,137},{596,398}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>wjt_jgt1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{594,468}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,68},{594,468}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>wjt_jgw1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,362},{266,280}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,103},{266,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>wjt_jgw1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,648},{260,280}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,103},{260,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>wjt_zd1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,4},{52,234}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,6},{52,234}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>wjt_zd1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,934},{54,222}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,10},{54,222}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>wjt_zd2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,478},{300,332}}</string>
                <key>offset</key>
                <string>{-10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{300,332}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>wjt_zd2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,4},{302,352}}</string>
                <key>offset</key>
                <string>{-8,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,98},{302,352}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
            <key>wjt_zd2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,816},{312,308}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{312,308}}</string>
                <key>sourceSize</key>
                <string>{320,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wujita1.pvr.ccz</string>
            <key>size</key>
            <string>{991,1128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af884bc3c49e05f5d8f1b87bf7153053:28664ba753b9a84687e02b83d003bf86:61f4f61ded31bac30562c5d23b31d660$</string>
            <key>textureFileName</key>
            <string>wujita1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
