<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xeyxl1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,739},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>xeyxl1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,735},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>xeyxl1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,645},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>xeyxl1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,641},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>xeyxl1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,551},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>xeyxl1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,547},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>xeyxl2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1001},{78,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xeyxl2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,997},{78,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xeyxl2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,917},{78,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xeyxl2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,913},{78,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xeyxl2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,833},{78,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xeyxl2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,829},{78,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xeyxl_xuli1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1152},{69,61}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{69,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1085},{71,61}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{71,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1152},{69,61}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{69,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1048},{69,61}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{69,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,981},{69,61}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{69,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,912},{69,63}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{69,63}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,833},{73,69}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{73,69}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1081},{79,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{79,79}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,450},{91,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{91,91}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,448},{97,101}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{97,101}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,232},{107,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{107,103}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,4},{107,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{107,111}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,228},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{105,107}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,121},{107,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{107,105}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,339},{105,103}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{105,103}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,341},{103,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{103,105}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,117},{107,105}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{107,105}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xeyxl_xuli2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{111,111}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{111,111}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xieeyixinglong.pvr.ccz</string>
            <key>size</key>
            <string>{249,1217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e765578e9e36f8349637e7ade933926:b11b184f58e8032096d1754f6790a5a1:e04929f8c00eb1cb737a07d4a4ec9acb$</string>
            <key>textureFileName</key>
            <string>xieeyixinglong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
