<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xilu_jg1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,4},{100,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>xilu_jg1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,4},{100,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>xilu_jg1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,4},{100,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>xilu_jg1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,4},{100,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>xilu_jg1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,4},{100,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>xilu_jg1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,4},{100,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>xilu_jg1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{100,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xilu1.pvr.ccz</string>
            <key>size</key>
            <string>{744,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96fc60306e72204c507360f6c7737a93:7a692c3aaa6a1af4892c45234e489ac8:c3eadc3c8975e912a1355b681626e678$</string>
            <key>textureFileName</key>
            <string>xilu1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
