<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xilu_jgt1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,114},{89,94}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{89,94}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>xilu_jgt1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,133},{89,104}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{89,104}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>xilu_jgt1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,135},{91,102}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{91,102}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>xilu_jgt1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,135},{91,102}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{91,102}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>xilu_jgt1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,135},{91,110}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{91,110}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>xilu_jgt1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,133},{91,104}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{91,104}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>xilu_jgt1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,4},{91,104}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{91,104}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>xilu_jgt1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,135},{93,102}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{93,102}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>xilu_jgt1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,4},{91,64}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,27},{91,64}}</string>
                <key>sourceSize</key>
                <string>{113,150}</string>
            </dict>
            <key>xilu_xuli1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,4},{101,123}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{101,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xilu_xuli1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,4},{103,125}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xilu_xuli1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,4},{101,125}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{101,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xilu_xuli1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,135},{101,125}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{101,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xilu_xuli1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,4},{107,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xilu_xuli1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{107,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>xilu_xuli1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,4},{103,125}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xilu2.pvr.ccz</string>
            <key>size</key>
            <string>{844,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72c38b507a2344322207423625b84912:d42d3127963fdd122a268eefbb8ec03b:405335b1f5cabf1f89f189dde8eaf419$</string>
            <key>textureFileName</key>
            <string>xilu2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
