<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,530},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baozou glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{263,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{263,57}}</string>
                <key>sourceSize</key>
                <string>{275,57}</string>
            </dict>
            <key>chaojihudu.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,373},{182,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,54}}</string>
                <key>sourceSize</key>
                <string>{182,54}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,496},{90,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,436},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,662},{53,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,41}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,553},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,489},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,485},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,438},{45,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,60}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>green point.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,429},{171,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{171,65}}</string>
                <key>sourceSize</key>
                <string>{183,71}</string>
            </dict>
            <key>hudun glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,380},{202,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{202,54}}</string>
                <key>sourceSize</key>
                <string>{212,54}</string>
            </dict>
            <key>hudun.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,276},{118,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,55}}</string>
                <key>sourceSize</key>
                <string>{118,55}</string>
            </dict>
            <key>huifu.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,613},{90,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,57}}</string>
                <key>sourceSize</key>
                <string>{90,57}</string>
            </dict>
            <key>prop_2ji.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,676},{50,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{50,52}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>prop_2ji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,573},{90,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{90,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>prop_3ji.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,651},{50,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{50,52}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>prop_3ji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,584},{90,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{90,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>prop_hudun.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,705},{42,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{42,40}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>prop_jiaxue.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,380},{56,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{56,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>prop_jiaxue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,496},{90,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{90,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>shengji glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{257,55}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{257,55}}</string>
                <key>sourceSize</key>
                <string>{285,65}</string>
            </dict>
            <key>shengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,661},{86,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,55}}</string>
                <key>sourceSize</key>
                <string>{86,55}</string>
            </dict>
            <key>shengming.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,573},{90,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,57}}</string>
                <key>sourceSize</key>
                <string>{90,57}</string>
            </dict>
            <key>shuzizhandou0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,665},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>shuzizhandou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,103},{16,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{16,35}</string>
            </dict>
            <key>shuzizhandou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,333},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>shuzizhandou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,333},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>shuzizhandou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,684},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>shuzizhandou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,333},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>shuzizhandou6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,651},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>shuzizhandou7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,665},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>shuzizhandou8.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,700},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>shuzizhandou9.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,662},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>warn_bosslaixi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{361,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{361,99}}</string>
                <key>sourceSize</key>
                <string>{369,99}</string>
            </dict>
            <key>warn_fuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{142,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,126}}</string>
                <key>sourceSize</key>
                <string>{142,128}</string>
            </dict>
            <key>warn_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,172},{206,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,223}}</string>
                <key>sourceSize</key>
                <string>{206,223}</string>
            </dict>
            <key>warn_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{640,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,60}}</string>
                <key>sourceSize</key>
                <string>{640,60}</string>
            </dict>
            <key>warn_yingwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,130},{240,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,40}}</string>
                <key>sourceSize</key>
                <string>{240,40}</string>
            </dict>
            <key>xingkonghedan.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,219},{118,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,55}}</string>
                <key>sourceSize</key>
                <string>{118,55}</string>
            </dict>
            <key>zdjmSlwz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,436},{162,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,135}}</string>
                <key>sourceSize</key>
                <string>{162,135}</string>
            </dict>
            <key>zdjmSlwz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{152,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,134}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>zhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,588},{86,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,54}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>zou.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,596},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49da34e86595058b764d5cf4e84a8f7f$</string>
            <key>textureFileName</key>
            <string>mainScene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
