<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>l2_4.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>199</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l2_13.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>201</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l2_1.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>313</integer>
				<key>originalWidth</key>
				<integer>263</integer>
				<key>originalHeight</key>
				<integer>313</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l2_17.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>692</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l2_18.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l2_5.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>880</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l2_9.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>971</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l2_10.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>1053</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l2_6.png</key>
			<dict>
				<key>width</key>
				<integer>226</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>226</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>1164</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l2_7.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>295</integer>
				<key>originalWidth</key>
				<integer>217</integer>
				<key>originalHeight</key>
				<integer>295</integer>
				<key>x</key>
				<integer>1392</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l2_11.png</key>
			<dict>
				<key>width</key>
				<integer>268</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>268</integer>
				<key>originalHeight</key>
				<integer>233</integer>
				<key>x</key>
				<integer>1611</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l2_8.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>259</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>387</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l2_15.png</key>
			<dict>
				<key>width</key>
				<integer>279</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>279</integer>
				<key>originalHeight</key>
				<integer>153</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>387</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l2_16.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>567</integer>
				<key>y</key>
				<integer>387</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l2_12.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>169</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>729</integer>
				<key>y</key>
				<integer>387</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>5515185542.png</key>
			<dict>
				<key>width</key>
				<integer>377</integer>
				<key>height</key>
				<integer>366</integer>
				<key>originalWidth</key>
				<integer>377</integer>
				<key>originalHeight</key>
				<integer>366</integer>
				<key>x</key>
				<integer>900</integer>
				<key>y</key>
				<integer>387</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>b5_10.png</string>
			<key>realTextureFileName</key>
			<string>b5_10.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>