<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>g1_1.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>g1_101.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>g1_102.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>159</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>g1_103.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>226</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>g1_3.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>293</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>g1_2.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>g1_4.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>338</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>g1_5.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>406</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>g1_6.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>429</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>g10.png</string>
			<key>realTextureFileName</key>
			<string>g10.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>